
---
- name: Backup Cisco device configs
  hosts: all
  gather_facts: no
  connection: network_cli

  tasks:
    - name: Create configs directory if not exists
      file:
        path: "{{ item }}"
        state: directory
      loop:
        - ./configs
        - ./logs
        
    - name: Set backup
      set_fact:
        backup_timestamp: "{{ '%Y%m%d_%H%M%S' | strftime }}"
        
    - name: Backup block per device
      block:
      
      - name: Pull running config
        cisco.ios.ios_config:
          commands:
          - show running-config
        register: backup_result

      - name: Save backup to file
        copy:
          content: "{{ backup_result.stdout[0] }}"
          dest: "./configs/{{ inventory_hostname }}}_{{ lookup('pipe', 'date +%Y%m%d_%H%M%S') }}.cfg"

      - name: Log backup status
        lineinfile:
          path: "./logs/backup_log.txt"
          line: "{{backup_timestamp}} - {{ inventory_hostname }} - Backup successful"
          create: yes

      rescue:

        - name: Log backup failure
          lineinfile:
            path: "./logs/backup_log.txt"
            line: "{{ inventory_hostname }} backup failed at {{ backup_timestamp }}"
            create: yes

      always:
        - name: Always show results
          debug:
            msg: "Backup attempt for {{ inventory_hostname }} completed."
